body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a { 
    color: inherit;
    text-decoration: none;
} 

.content {
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 36px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 24px;
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

.intro-container {
    display: flex;
    justify-content: center;
}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 36px;
    margin: 75px 0px;
}

.intro-left {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.intro-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.intro-img {
    display: flex;
    flex: 1;
}

.intro-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
}

.more-info-button {
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 25%;
}

.header-container, .intro-container, .footer-container {
    background-color: #1F2937;
}

.secondary-text {
    color: #E5E7EB;
}

img {
    max-width:100%;
    max-height: 100%;
}

.starter-kit-container {
    display: flex;
    justify-content: center;
}

.starter-kit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 50px 0px;
}

.starter-kit-box-container {
    display: flex;
    flex: 1;
    gap: 48px;
    margin: 25px 0px;
}

.starter-kit-box {
    width: 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.starter-kit-box > img {
    flex-shrink: 0;
}

.starter-kit-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 75px 0px;
}

.quote-text {
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.quotee-text {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.more-info-container {
    display: flex;
    justify-content: center;
}

.more-info-content {
    display: flex;
    width: 70%;
    margin: 75px 0px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    justify-content: space-evenly;
}

.more-info-left {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.more-info-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-text {
    margin: 25px 100px;

}

.last-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border: solid 2px;
    width: 125px;
}

.info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    color: #F9FAF8;
}